<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<form method="POST" action="/signup">

  <label for="username">User Name</label>
  <input id="username" name="username" type="text">

  <label for="password">Password</label>
  <input id="password" name="password" type="password">

  <label for="firstName">firstName</label>
  <input id="firstName" name="firstName" type="text">


  <label for="lastName">lastName</label>
  <input id="lastName" name="lastName" type="text">


  <label for="dateOfBirth">dateOfBirth</label>
  <input id="dateOfBirth" name="dateOfBirth" type="number">

  <label for="bio">bio</label>
  <input id="bio" name="bio" type="text">

  <button type="submit">Sign up</button>

</form>

</body>
</html>